---
const { title, description } = Astro.props
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Meta -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Mateus Villain" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mateusvillain.com" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="img/cover.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://mateusvillain.com" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="img/cover.jpg" />

    <link rel="stylesheet" href="../style.css" />
    <link rel="icon" type="image/x-icon" href="favicon.png" />
  </head>

  <body data-theme="light">
    <div class="container">
      <section class="post-list">
        <slot />
      </section>
    </div>
  </body>
</html>
