---
const { title, description, cover } = Astro.props
const defaultCover = '/../covers/cover.png'
const imageUrl = new URL(cover ?? defaultCover, Astro.site ?? Astro.url).href
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Meta -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Mateus Villain" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${imageUrl}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${imageUrl}`} />

    <!-- Google Tag Manager -->
    <script is:inline>
      ;(function (w, d, l, i) {
        w[l] = w[l] || []
        w[l].push({
          'gtm.start': Date.now(),
          event: 'gtm.js',
        })

        const f = d.getElementsByTagName('script')[0]
        const j = d.createElement('script')
        const dl = l !== 'dataLayer' ? '&l=' + l : ''

        j.async = true
        j.src = `https://www.googletagmanager.com/gtm.js?id=${i}${dl}`

        f.parentNode && f.parentNode.insertBefore(j, f)
      })(window, document, 'dataLayer', 'GTM-NTD9ZL6W')
    </script>

    <link rel="canonical" href={Astro.url.href} />
    <link rel="stylesheet" href="../../blog.css" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="icon" type="image/x-icon" href="../img/favicon.png" />
  </head>

  <body data-theme="light">
    <div class="container">
      <section class="post-list">
        <slot />
      </section>
    </div>
    <script src="/blog/js/code-copy.js" defer></script>
  </body>
</html>
