---
import '@lets-ui/styles'

const { title, description, cover } = Astro.props
const defaultCover = '/img/cover.png'
const imageUrl = new URL(cover ?? defaultCover, Astro.site ?? Astro.url).href
---

<!doctype html>
<html lang="pt-BR" data-brand="lets-ui" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Meta -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Mateus Villain" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mateusvillain.com/blog" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${imageUrl}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://mateusvillain.com/blog" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${imageUrl}`} />

    <!-- Google Tag Manager -->
    <script is:inline>
      ;(function (w, d, l, i) {
        w[l] = w[l] || []
        w[l].push({
          'gtm.start': Date.now(),
          event: 'gtm.js',
        })

        const f = d.getElementsByTagName('script')[0]
        const j = d.createElement('script')
        const dl = l !== 'dataLayer' ? '&l=' + l : ''

        j.async = true
        j.src = `https://www.googletagmanager.com/gtm.js?id=${i}${dl}`

        f.parentNode && f.parentNode.insertBefore(j, f)
      })(window, document, 'dataLayer', 'GTM-NTD9ZL6W')
    </script>

    <link rel="canonical" href={Astro.url.href} />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/blog.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
  </head>

  <body>
    <div class="body-container gap-fluid-80 m-b-fluid-80">
      <section class="post-list">
        <slot />
      </section>

      <lui-card id="newsletter-card">
        <lui-heading variant="block-title">Assine a newsletter</lui-heading>
        <lui-body variant="lg">
          Receba os melhores conteúdos direto no seu e-mail
        </lui-body>

        <form class="newsletter-form m-t-fluid-8" id="newsletter-form">
          <lui-flex direction="column" gap="24">
            <lui-input
              id="email"
              type="email"
              name="email"
              label="E-mail"
              placeholder="seu@email.com"
              size="lg"
              required
              error-text="Campo obrigatório."
              inputmode="email"
            >
            </lui-input>
            <input type="hidden" name="embed" value="1" />
            <lui-button variant="primary" type="submit" block
              >Assinar</lui-button
            >
          </lui-flex>
        </form>

        <div id="newsletter-error" hidden aria-live="polite">
          <lui-alert
            id="newsletter-error-message"
            variant="danger"
            title="Não foi possível enviar sua inscrição."
            content="Parece que o sistema não está funcionando no momento. Tente novamente em alguns minutos."
          >
          </lui-alert>
        </div>

        <div id="newsletter-success" hidden>
          <lui-alert
            variant="success"
            title="E-mail de confirmação enviado!"
            content="Confira sua caixa de entrada e spam para confirmar sua inscrição."
          >
          </lui-alert>
        </div>
      </lui-card>

      <script is:inline src="/blog/js/form.js" defer></script>
    </div>
  </body>
</html>
